body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.search-bar {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

.flight-results-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -30px!important;
}

.search-bar form {
    align-items: center;
    gap: 10px;
    display: grid;
}

.search-bar input[type="text"],
.search-bar input[type="date"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar .trip-type {
    margin-bottom: 10px;
}

.search-bar label {
    margin-bottom: 5px;
    font-weight: bold;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.input-group {
    display: flex;
    flex-direction: column;
}

.button-search{
    margin-bottom: 10px;
}

.unVisible{
    display: none;
}

.custom-control {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.search-bar{
    position: relative;
}

.from{
    position: relative;
}

.to{
    position: relative;
}

.suggestions-container {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
}

.flight-results-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.flight-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
border: 1px solid #ccc;
    border-radius: 4px;
}

.flight-time, .flight-airline, .flight-price {
    margin-right: 10px;
}

.select-flight {
    padding: 5px 15px;
    background-color: #4CAF50;
color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flight-card {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 2fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.flight-detail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flight-card > .departure-time {
    grid-column: span 1;
}

.flight-card > .duration {
    grid-column: span 1; /* Uçuş süresi */
}

.flight-card > .price {
    grid-column: span 1; /* Fiyat */
}

.flight-card > .select-flight {
    grid-column: span 1; /* Seç butonu */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flight-results-container{
    color: black!important;
}

.search-bar{
    color: black!important;
}


body {
    --color-background: #fafafa;
    --color-foreground: #1f2023;
}
body.dark {
    --color-background: #1f2023;
    --color-foreground: #efefef;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.title-margins {
margin-left: 120px;
}

.error-message {
    color: black;
    background: rgb(240, 240, 240);
    padding: 20px;
    margin: 50px 120px 50px;
    font-size: larger;
}

a.navbar-brand {
    font-weight: 800;
    font-feature-settings: inherit;
    font-size: xx-large;
    font-family: cursive;
    color: currentcolor;
}

div#basic-navbar-nav {
    margin-top: 10px;
}

.search{
    background-image: url("https://cdn2.enuygun.com/media/lib/825x620/uploads/image/bozcaada-36345.webp");
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat, repeat;
    background-size: cover; /* Resize the background image to cover the entire container */


}
